<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row">
        <!-- LADO ESQUERDO DA TELA -->
        <div class="col-12 col-lg-9">
            <div class="card-info">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h1 class="titulo">Benefícios do WorkSync</h1>
                        <h3 class="subtitulo">Mais eficiência na gestão dos <span>funcionários</span> e de seus benefícios.
                            Chega de sistemas antigos e sem usabilidade, agora com o <span>WorkSync</span> seu trabalho
                            fica até 3x mais rápido e simplificado. 
                            <br>Confira um resumo das informações em nosso <span>Dashboard</span>
                        </h3>
                       
                        <app-button textButton="iniciar"></app-button>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="../../../assets/dashboard.png" width="100%" alt="img">
                    </div>
                </div>
            </div>

            <!-- PARTE DE BAIXO DA TELA -->
            <div class="row mt-4">
                
                <!-- CARD SPINNER ESQUERDA -->
                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de funcionários cadastrados no sistema</p>
                                <p class="numero-card">79</p>
                                <p class="destaque-card">+ 5 adicionados no último mês</p>
                            </div>
                            <div class="col-4">
                                <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" value="79"></mat-progress-spinner>
                                <p class="info-spinner">79/150</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CARD SPINNER DIREITA -->
                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de benefícios cadastrados</p>
                                <p class="numero-card">4/5</p>
                                <p class="destaque-card">+ 2 adicionados no último mês</p>
                            </div>
                            <div class="col-4">
                                <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" value="80"></mat-progress-spinner>
                                <p class="info-spinner">4/5</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CARD FUNCIONÁRIO CADASTRADO -->
                <div class="col-12 mt-4">
                    <div class="card-info">
                        <h3 class="titulo">último funcionário cadastrado</h3>

                        <hr class="hr">

                        <div class="row">
                            <div class="col-1"> <mat-icon>account_circle</mat-icon> </div>
                            <div class="col-1"> <p class="texto-p">1</p> </div>
                            <div class="col-1"> <p class="texto-p">Leandro Takafaz</p> </div>
                            <div class="col-1"> <p class="texto-p"> Desenvolvedor Full Stack</p> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LADO DIREITO DA TELA -->
         <div class="col-12 col-lg-3">
            <div class="card-info">
                <div class="container-perfil">
                    <img src="../../../assets/WhatsApp Image 2024-11-27 at 15.33.35.jpeg" class="img-perfil" alt="Imagem do Perfil">
                    <h4>Seja bem vindo</h4>
                    <h5>{{ userName }}</h5>
                    <li> <mat-icon>location_on</mat-icon> AM - Brasil </li>
                </div>

                <hr class="hr">
                <p class="texto-p">"Um ser humano deve transformar informação em inteligência ou conhecimento.
                    Tendemos a esquecer que nenhum computador jamais fará uma nova pergunta"</p>
                <hr class="hr">

                <li> <mat-icon>person</mat-icon>Gerencie funcionários </li>
                <li> <mat-icon>loyalty</mat-icon>Adicione benefícios </li>
                <li> <mat-icon>format_list_bulleted</mat-icon>Consulte cadastros </li>
                <li> <mat-icon>delete</mat-icon>Exclua funcionários </li>
            </div>
         </div>
    </div>
</div>
